<md-card *ngFor="let movement of movements" class="movement-item">
    <md-card-content>
        <md-icon color="primary">compare_arrows</md-icon>
        <div class="movementDescription">
            <header>
                <button md-icon-button [routerLink]="['/movement', movement.Id]"><i class="material-icons">edit</i></button>
                <button md-icon-button (click)="deleteMovement(movement.Id)"><i class="material-icons">delete</i></button>
            </header>
            <div class="body">
                <p>Tipo: {{movement.Type}}</p>
                <p>Origen: {{movement.Origin}}</p>
                <p *ngIf="movement.Origin === movementOriginEnum.Account">Cuenta Origen: {{movement.OriginAccountId}}</p>
                <p>Descripcón: {{movement.Description}}</p>
                <p>Moneda: {{movement.CurrencyId}}</p>
                <p>Monto: {{movement.Amount}}</p>
                <p>Fecha: {{movement.Date}}</p>
            </div>
        </div>
    </md-card-content>
</md-card>