.movement-item {
    margin: 1.5em;
}

md-card-content {
    display: flex;
}

md-card-content .movementDescription {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movementDescription header {
    display: flex;
    justify-content: flex-end;
    color: silver;
}