<md-card *ngFor="let currency of currencies" class="currency-item">
    <md-card-content>
        <md-icon color="primary">monetization_on</md-icon>
        <div class="currencyDescription">
            <header>
                <button md-icon-button><i class="material-icons">edit</i></button>
                <button md-icon-button><i class="material-icons">delete</i></button>
            </header>
            <div class="body">
                <p>Símbolo: {{currency.Symbol}}</p>
                <p>Descripción: {{currency.Description}}</p>
            </div>
        </div>
    </md-card-content>
</md-card>