<h1 md-dialog-title>{{data.Title}}</h1>
<md-dialog-content>
    {{data.Message}}
</md-dialog-content>
<md-dialog-actions [ngSwitch]="data.Buttons">
    <!--Ok-->
    <button *ngSwitchCase="buttonsEnum.Ok" md-raised-button (click)="onMessageBoxButtonClick(resultEnum.Ok)">Ok</button>
    <!--OkCancel-->
    <button *ngSwitchCase="buttonsEnum.OkCancel" md-raised-button (click)="onMessageBoxButtonClick(resultEnum.Ok)">Ok</button>
    <button *ngSwitchCase="buttonsEnum.OkCancel" md-raised-button (click)="onMessageBoxButtonClick(resultEnum.Cancel)">Cancelar</button>
    <!--YesNo-->
    <button *ngSwitchCase="buttonsEnum.YesNo" md-raised-button (click)="onMessageBoxButtonClick(resultEnum.Yes)">Si</button>
    <button *ngSwitchCase="buttonsEnum.YesNo" md-raised-button (click)="onMessageBoxButtonClick(resultEnum.No)">No</button>
    <!--YesNoCancel-->
    <button *ngSwitchCase="buttonsEnum.YesNoCancel" md-raised-button (click)="onMessageBoxButtonClick(resultEnum.Yes)">Si</button>
    <button *ngSwitchCase="buttonsEnum.YesNoCancel" md-raised-button (click)="onMessageBoxButtonClick(resultEnum.No)">No</button>
    <button *ngSwitchCase="buttonsEnum.YesNoCancel" md-raised-button (click)="onMessageBoxButtonClick(resultEnum.Cancel)">Cancelar</button>
</md-dialog-actions>